svg {
	background: white;
}

text.title {
	font-size: 1.8em;
	stroke: black;
	font-weight: 500;
	stroke-width: 0px;
	fill: black;
	opacity: 0.85;
}

.axis,
.aux-axis,
.title,
.axis-label {
	color: black;
	stroke-width: 2;
}

.aux-axis {
	stroke: black;
}

.tick {
	stroke-dasharray: none;
}

.axis .domain {
	opacity: 0.4;
}

.tick text,
text.axis-label,
.title {
	stroke-dasharray: none;
	fill: black;
	stroke-opacity: 1;
	fill-opacity: 1;
	opacity: 1;
	stroke: white;
	font-weight: 1000;
	font-size: 23px;
	stroke-width: 2;
	font-family: ubuntu;
}

text.axis-label {
	opacity: 1;
	font-size: 27px;
}

.line {
	fill: none;
	stroke: #0000dc;
	stroke-width: 3;
	stroke-opacity: 0.3;
	mix-blend-mode: multiply;
}

.line.line-female {
	stroke: #dc0000;
	stroke-opacity: 0.3;
	mix-blend-mode: multiply;
	stroke-width: 3;
}
