svg {
	.edge {
		mix-blend-mode: multiply;
		stroke: black;
		fill: none;
	}
	.edge-halo {
		mix-blend-mode: multiply;
		stroke-opacity: 1;
		fill: none;
	}
	.node {
		stroke: black;
		stroke-width: 2;
	}

	text {
		color: black;
		alignment-baseline: middle;
		font-weight: 1000;
		stroke: white;
		font-family: ubuntu;
		&.legend-name-label {
		}

		&.legend-type-rect {
			stroke: black;
			stroke-width: 2;
		}
		&.node-label {
			text-anchor: middle;
		}
	}
}
