svg {
	.edge {
		stroke-width: 2;
		mix-blend-mode: multiply;
		stroke-opacity: 0.5;
		stroke: black;

		&.mixed {
			stroke: lightgrey;
		}
		&.male {
			stroke: #91bfdb;
		}
		&.female {
			stroke: #fc8d59;
		}
	}
	.node {
		stroke: black;
		stroke-width: 2;
		&.node-female {
			fill: #fdae61;
		}
		&.node-male {
			fill: #abd9e9;
		}
	}
	.node-deponent {
		&.node-female {
			fill: #d7191c;
		}
		&.node-male {
			fill: #2c7bb6;
		}
	}

	.axis {
		stroke: black;
		stroke-width: 2;
	}
	.axis-legend {
		stroke: black;
		stroke-width: 6;
	}

	.axis-label {
		font-family: ubuntu;
		font-size: 30px;
	}

	.gender-area {
		opacity: 0.2;
		&.gender-area-males {
			mix-blend-mode: multiply;
			fill: #2c7bb6;
		}
		&.gender-area-females {
			mix-blend-mode: multiply;
			fill: #d7191c;
		}
	}
}
