.edge {
	fill: none;
	stroke-width: 0.5;
	stroke-opacity: 0.7;
	stroke: #888;
	mix-blend-mode: normal;

	&.edge-important {
		stroke-width: 1.5;
		stroke: black;
	}
}

.node {
	stroke-width: 0;
	fill-opacity: 0.4;
	mix-blend-mode: multiply;

	&.node-important {
		stroke-width: 1.5;
		fill-opacity: 1;
		stroke: black;
		mix-blend-mode: normal;
	}
}

.tiles {
	opacity: 0.7;
}

.ribbon {
	&.ribbon-bottom {
		fill-opacity: 1;
		mix-blend-mode: normal;
	}
	&.ribbon-top {
		fill-opacity: 0.5;
		mix-blend-mode: multiply;
	}
	&.ribbon-start {
	}
}

.legend-label {
	dominant-baseline: middle;
	font-size: 35;
	text-anchor: end;
	font-family: ubuntu;
	stroke: black;
	font-weight: 1000;
	stroke-width: 2;
	stroke: white;
	font-style: italic;
}

.legend-rectangle {
	stroke: black;
	stroke-width: 5;
}

.background {
	fill: white;
	opacity: 0.75;
	mix-blend-mode: color;
}
